.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}