.wrapper {
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 70% 30%;
    margin: 8px 4px;
    padding: 8px 20px;
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: normal;
    color: #656e92;
}

.wrapper:hover {
    box-shadow: .3rem .3rem .6rem #b3b9db, 
    -.2rem -.2rem .5rem #e8eaf9, inset .2rem .2rem .5rem #b3b9db, 
    inset -.2rem -.2rem .5rem #e8eaf9;
    background-color: #ccd2ef;
}

.wrapper:hover svg {
    fill: rgba(136, 141, 167, 0.8);
}

.wrapper svg:hover {
    fill: #fff;
    cursor: pointer;
}

.iconsBlock {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.wrapper:hover svg.activeLike, .wrapper:hover svg.activeLike:hover, svg.activeLike {
    fill: #f43965;
}

