.general {
    background-image: linear-gradient(to bottom right, #d8cdef, #B2EBF2);
    height: 100vh;
    font-family: Helvetica, sans-serif;
	font-weight: 800;
	color: #fff;
    letter-spacing: 0.5em;
}

.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.customInput {
    height: 50px;
    width: 260px;
    outline: none;
    border: none;
    border-bottom: 1px solid #b3b9db;
    background-color: transparent;
    color: #5e6687;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.1em;
}

.customInput:-webkit-autofill,
.customInput:-webkit-autofill:hover,
.customInput:-webkit-autofill:focus,
.customInput:-webkit-autofill:active {
    background-color: transparent;
}

.icons {
    fill: transparent;
    transition: .4s ease;
}
