.button {
    height: 50px;
	width: 160px;
	border-radius: 8px;
    border: none;
    font-family: Helvetica, sans-serif;
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 8px;
    background-color: transparent;
    transition: .4s ease;
    padding: 0;
}

.buttonActive {
    box-shadow: .3rem .3rem .6rem #b3b9db, 
    -.2rem -.2rem .5rem #e8eaf9, inset .2rem .2rem .5rem #b3b9db, 
    inset -.2rem -.2rem .5rem #e8eaf9;
    background-color: #ccd2ef;
    color: #656e92
}

.buttonInactive {
    color: #888da7;
}

.buttonActive:hover{
    cursor: pointer;
}

.buttonActive:active {
    box-shadow:inset .2rem .2rem 1rem #b3b9db, 
                inset -.2rem -.2rem 1rem #e8eaf9;
}

.buttonActive:focus {
    border: none;
}

